{
  "extends": [
    "airbnb-base",
    "plugin:jest/recommended",
    "plugin:flowtype/recommended",
    "prettier"
  ],
  "plugins": [
    "jest",
    "flowtype",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": "off"
  }
}
